<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title><%= typeof title !== 'undefined' ? title + ' | Botines Store' : 'Botines Store' %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<%- include('../partials/header') %>

<main>
    <%- body %>
</main>

<%- include('../partials/footer') %>

</body>
</html>